[Unit]
Description=WiFi Manager Service
After=network.target

[Service]
Type=oneshot
ExecStart=/home/pi/Boat-Airplay/wifi_manager/wifi_manager.sh
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
